@model Allessi.LojaVirtual.Dominio.Entidade.Produto

<div class="well">
    <h3><strong>@Model.ProdutoDescricao</strong> </h3>
    <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span> </h3>
    <h3><span class="lead">@Model.ProdutoDescricaoResumida</span></h3>

</div>
